.badge{
  background-color: #042d65;
  color:  #c4d1e4;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.1rem;
}

.navpath{
  color: #c4d1e4;
  margin-right: 20px;
}

.navpath:link { text-decoration: none; }


.navpath:visited { text-decoration: none; }


.navpath:hover { text-decoration: none;  color: #c4d1e4;}


.navpath:active { text-decoration: none; }


/* 
.navpath:hover {
  color: #c4d1e4;
} */
