.navbar {
	height: 65px;
	background: #1c3e6f;
	text-decoration: none;
}
.navbar-brand-top1{
	padding: 10px 20px;
	margin-right: 16px;
	padding-top: 15px;
	font-family: "Fredoka One";
	font-size: 20px;
	letter-spacing: 3px;
	text-decoration: none;
}
.navbar-brand-top {
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 12px;
	text-align: left;
	vertical-align: middle;
	font-family: "Fredoka One";
	font-size: 16px;
	letter-spacing: 3px;
	color: rgba(255,255,255,.55);
	line-height: 65px;
	text-decoration: none;
}
.img-fluid {
	padding-top: 12px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	vertical-align: middle;
}
.main-text {
	padding: 40px;
}
h3 {
	font-family:'Fredoka One';
	font-size:25px;
	text-decoration:underline;
}
.common-page-heading-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.common-page-form select, input {
	background-color:lightcyan;
	border-radius: 5px;
	border-color: transparent;
}

.common-page-form-field {
	margin: 2px auto;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 10px;
}

.common-page-form {
	border-width: 2px;
	border-style: solid;
	border-color: #00204E;
	border-radius: 20px;
	padding: 20px;
	margin: 20px auto;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 20px;
}

.common-page-sumbit-btn {
	margin-top: 20px;
}
