<!doctype html>
<link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>

<link rel="stylesheet" type="text/css" href="common.css">
<link rel="stylesheet" type="text/css" href="home.css">
<style>
body {
  background-image: url('uoft_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

{% extends "bootstrap/base.html" %}

{% block navbar %}
<head>
<div class="navbar" role="navigation">
   <!-- <div class="container">-->
	<img src="logo.png" class="img-fluid" align="left"/>
	<div class="navbar-header">
            <a class="navbar-brand-top1" href="/" style="color: white", valign:"center", size:"30px" >Education Pathways</a>
            <a class="navbar-brand-top" href="/about/" style="text-decoration:none;">About Us </a>
	    <a class="navbar-brand-top" href="/filter" style=valign:"center">Filter</a>
	    <a class="navbar-brand-top" href="/review/" style=valign:"center"> Review</a>
	    <a class="navbar-brand-top" href="/Comparison" style=valign:"center"> Comparison</a>
	</div>
    
</div>
</head>

<body>

<div id="comparison-page-introduction">    
<p>The Comparison Page allows you to compare 2 courses by analyzing relevant information such as course descriptions and pre-requisites</p>
<div id="home-page-feedback-text">We are looking for feedback to improve Education Pathways and make it more useful for students. If you have ideas or suggestions, please <a href="mailto:eric.liang@utoronto.ca">email us!</a></div>
</div>

{% from "_formhelpers.html" import render_field %}
<form method="post" class="common-page-form">
  <dl>
    <p>
        {{ render_field(form.course1) }}
    </p>
    <p>
        {{ render_field(form.course2) }}
    </p>
    <button type="submit" class="btn btn-primary common-page-submit-btn">Compare</button>
</p>
</form>
</body>
</doctype>

{% endblock %}
