<!doctype html>
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->
<link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>

<link rel="stylesheet" type="text/css" href="common.css">
<link rel="stylesheet" type="text/css" href="home.css">
<!--<head>
  <meta charset="UTF-8">
    <title>Education Pathways</title>
</head>-->
<style>
body {
  background-image: url('uoft_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
</style>
{% extends "bootstrap/base.html" %}

{% block navbar %}
<head>
<div class="navbar" role="navigation">
   <!-- <div class="container">-->
	<img src="logo.png" class="img-fluid" align="left"/>
	<div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar">About</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand-top1" href="/" style="color: white", valign:"center", size:"30px" >Education Pathways</a>
            <a class="navbar-brand-top" href="/about/" style="text-decoration:none;">About Us </a>
	    <a class="navbar-brand-top" href="/filter" style=valign:"center">Filter</a>
	    <a class="navbar-brand-top" href="/review/" style=valign:"center"> Review</a>
	    <a class="navbar-brand-top" href="/Comparison" style=valign:"center"> Comparison</a>
	</div>
    
</div>
</head>
<body>
<!--<div class="common-page-heading-container">
<h1>Education Pathways</h1>
</div>
-->
<div id="home-page-introduction">    
<p>Welcome to TripleFour's in-development tool for course selection at UofT. Education Pathways filter page allows searching courses according to course year, division, department, campus, and minor courses. Also, you can search by certain terms related to the course.</p>
<div id="home-page-feedback-text">We are looking for feedback to improve Education Pathways and make it more useful for students. If you have ideas or suggestions, please <a href="mailto:zetong.zhao@utoronto.ca">email us!</a></div>
</div>

{% from "_formhelpers.html" import render_field %}
<div>
<form method="post" class="common-page-form">
  <dl>
    {{ render_field(form.select) }}
    <p>
        Restrict by one of: <br>{{ render_field(form.divisions) }} <br> {{ render_field(form.departments) }} <br>  {{ render_field(form.campuses) }}
    </p> 
    <p>
    {{ render_field(form.search) }}
    </p>
    <p>
    {{ render_field(form.minor_search) }}
   </p>
  </dl>
  <p>{{render_field(form.top)}} <button type="submit" class="btn btn-primary common-page-submit-btn">Search</button>
</p>
<h3> Search for courses </h3>
</form>
</body>
</doctype>
{% endblock %}
