.navbar {
  width: 100vw;
  background: #1c3e6f;
}

.navbar-brand-top {
        padding-left: 8px;
	padding-right: 8px;
        margin-top: 0;
        letter-spacing: 3px;
        color: rgba(255,255,255,.75);
        line-height: 40px;
        text-decoration: none;
}
#root{
	background-image: url("../img/uoft_background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/*
.nav-item a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}


.nav-item a:link { text-decoration: none; }

.nav-item a:visited { text-decoration: none; }


.nav-item a:hover { text-decoration: none; color: #c4d1e4;}


.nav-item a:active { text-decoration: none; } 
 */



.navbar-brand img {
  margin-left: 20px;
  max-width: 40px;
}
/* make the text go down */
.body_text {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  font-size: 150%;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 170px;
  margin-bottom: 10px;

}
